// ========================================
// Colors
// ========================================
$black	: #000000;
$white 	: #FFFFFF;

$primary : indianred;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px;
$tablet  :		769px;
$desktop : 		1000px;
$fullhd  :		1384px;

$headerHeight: 80px;